NEXT_PUBLIC_APP_URL=http://localhost:3000
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=public"
ADMIN_INVITE_CODE=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PRICE_JOURNAL=
MERCADO_PAGO_ACCESS_TOKEN=
OPENAI_API_KEY=
